<section>
	<h3>{{ page.title }}</h3>
	<ul class="links">
	{% for link in page.header.links %}
		<li><a href="{{ link.target|e('url') }}">{{ link.text }}</a></li>
	{% endfor %}
	</ul>
	<footer>
		<a href="{{ page.header.cta.target|e('url') }}" class="button">{{ page.header.cta.text }}</a>
	</footer>
</section>
