<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
	<title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	{% include 'partials/metadata.html.twig' %}

	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
	<link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
	{% style 'theme://assets/css/main.css' %}
	{% style 'theme://assets/css/arcana.css' %} {# custom theme extensions for Grav #}
	{% style 'theme://assets/css/custom.css' priority: 0 %}
{% endblock %}

{% block javascripts %}
	{% script 'theme://assets/js/jquery.min.js' at 'bottom' priority: 105 %}
	{% script 'theme://assets/js/jquery.dropotron.min.js' at 'bottom' priority: 104 %}
	{% script 'theme://assets/js/browser.min.js' at 'bottom' priority: 103 %}
	{% script 'theme://assets/js/breakpoints.min.js' at 'bottom' priority: 102 %}
	{% script 'theme://assets/js/util.js' at 'bottom' priority: 101 %}
	{% script 'theme://assets/js/main.js' at 'bottom' priority: 100 %}
{% endblock %}

{% block assets deferred %}
	{{ assets.css()|raw }}
	{{ assets.js()|raw }}
{% endblock %}

</head>

<body class="is-preload {{ page.header.body_classes|e }}">
	<div id="page-wrapper">

{% block header %}
		<!-- Header -->
			<div id="header">
				{{ include('partials/logo.html.twig') }}
				{{ include('partials/navigation.html.twig') }}
			</div>
{% endblock %}

{% block body %}
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									{% block precis %}
									<header>
										<h2>{{ page.title|raw }}</h2>
										{% if page.header.tagline %}
											<p>{{ page.header.tagline }}</p>
										{% endif %}
									</header>
									{% endblock %}

									{% block feature %}
										{% if page.header.show_feature|defined(true) is not sameas(false) %}
											{% if page.header.feature is defined %}
												{% set feature = page.header.feature %}
												{% if page.media[feature] %}
													{% set feature_url = page.media[feature].url %}
												{% endif %}
											{% endif %}
											<span class="image featured"><img src="{{ feature_url|default(url('theme://images/banner.jpg')) }}" alt="" /></span>
										{% endif %}
									{% endblock %}

									{% block content %}
										{{ page.content|raw }}
									{% endblock %}

								</article>
						</div>
					</div>
				</section>
{% endblock %}

{% block more_sections %}{% endblock %}

{% block footer %}
	{{ include('partials/footer.html.twig') }}
{% endblock %}

	</div>

{% block bottom %}
	{{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
