			<!-- Footer -->
				<div id="footer">
					{% set footer = theme.footer %}
					<div class="container">
						<div class="row">
							{% for col in ['col1', 'col2'] %}
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>{{ footer[col].heading|e }}</h3>
								<ul class="links">
									{% for text, link in footer[col].links %}
									<li><a href="{{ link|e('url') }}">{{ text|e }}</a></li>
									{% endfor %}
								</ul>
							</section>
							{% endfor %}
							{% block contact_form %}
								{{ include('partials/contact-form.html.twig') }}
							{% endblock %}
						</div>
					</div>

					{% block social_icons %}
						{{ include('partials/social-icons.html.twig') }}
					{% endblock %}

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

		</div>
