{% macro loop(page) %}
	{% for p in page.children.visible %}
		{% set current_page = (p.active or p.activeChild) ? 'current' %}
		{% if p.children.visible.count > 0 %}
			<li{% if current_page is not empty %} class="{{ current_page }}"{% endif %}>
				<a href="{{ p.url|e }}">
					{% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
					{{ p.menu|e }}
				</a>
				<ul>
					{{ _self.loop(p) }}
				</ul>
			</li>
		{% else %}
			<li{% if current_page is not empty %} class="{{ current_page }}"{% endif %}>
				<a href="{{ p.url|e }}">
					{% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
					{{ p.menu|e }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% block header_navigation %}
<!-- Nav -->
	<nav id="nav">
		<ul>
		{% if config.theme.dropdown.enabled %}
			{{ _self.loop(pages) }}
		{% else %}
			{% for page in pages.children.visible %}
				<li{{ (page.active or page.activeChild) ? ' class="current"' }}>
					<a href="{{ page.url|e }}">
						{% if page.header.icon %}<i class="fa fa-{{ page.header.icon|e }}"></i>{% endif %}
						{{ page.menu|e }}
					</a>
				</li>
			{% endfor %}
		{% endif %}
		{% for mitem in site.menu %}
			<li>
				<a href="{{ mitem.url|e }}">
					{% if mitem.icon %}<i class="fa fa-{{ mitem.icon|e }}"></i>{% endif %}
					{{ mitem.text|e }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
{% endblock %}
